@CHARSET "UTF-8";

.gwt-l-checkbox {
	background-position: -13px 0px;
	background: url('../skins/Aqua/images/controls/checkbox.gif') no-repeat
		scroll 0px 0px transparent;
	margin: 0px 5px 0px auto;
	vertical-align: middle;
	height: 13px;
	width: 13px;
	margin: 0px 5px 0px auto;
	overflow: hidden;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.gwt-l-checkbox::-ms-check {
	display: none;
}

.gwt-l-checkbox:hover {
	background-position: -13px 0px;
}

.gwt-l-checkbox:checked {
	background-position: 0px -13px;
}

.gwt-l-checkbox:checked:hover {
	background-position: -13px -13px;
}